@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.Sidebar {
    background-color: blanchedalmond;
    width: 10vw;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}

.Sidebar nav {
    padding: 60px;
}

.Sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 30px 0;
}

.main {
    background-color: rgb(143, 219, 219);
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    background-color: beige;
    height: 50vh;
    width: 80vw;
    margin: 130px auto;
    float:inline-end;
    justify-content: space-around;
}

.hello {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.Name {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}



.Buttons {
}

.devinfo {
    position: relative;
    display: flex;
    justify-content:center;
    flex-direction:column;
    text-indent: 30%;
    padding: auto;
    top: 30%;
}

.devpic img {
    height: 35vh;
    float: right;
    margin-right: 20px;
}
